<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="HostAddress" value="abcdefg@gmail.com" />
		<add key="ClientInfo" value="C:\Users\t1\Desktop\GmailAPI\client_secret.json" />
		<add key="CredentialsInfo" value="C:\Users\t1\Desktop\GmailAPI\CredentialsInfo\" />
		<add key="GmailAttach" value="C:\Users\t1\Desktop\GmailAPI\GmailAttachment\" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.55.0.0" newVersion="1.55.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.55.0.0" newVersion="1.55.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>


























<!--<add key="AWSAccessKey" value="AKIAITCEH3FOYMWMM6AA" />
    <add key="AWSSecretKey" value="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" />
    <add key="AWSRegion" value="USEast1" />
    <add key="BucketName" value="n2hivefiles" />
    <add key="GmailAttach" value="C:\GmailAPI\GmailAttachment\" />-->
